<div class="row justify-content-center align-items-center">
  <div class="col-md-8 p-5 shadow-sm border rounded-5 border-primary bg-white">
    <h2 class="text-center mb-1 text-primary">Profile: <%= current_user.username %></h2>
    <h3 class="text-center mb-4 text-primary">Change Settings</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field mb-3">
        <%= f.label :username, class: "form-label"%>
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control border border-primary" %>
      </div>

      <div class="field mb-3">
        <%= f.label :email, class: "form-label"%>
        <%= f.email_field :email, autocomplete: "email", class: "form-control border border-primary" %>
      </div>

      <div class="field mb-3">
        <%= f.label :current_password, class: "form-label" %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control border border-primary" %>
      </div>

      <div class="field mb-3">
        <%= f.label :password, "New Password", class: "form-label" %>
        <%= f.password_field :password, class: "form-control border border-primary" %>
        <% if @minimum_password_length %>
          <i><small><%= @minimum_password_length %> characters minimum</small></i>
        <% end %>
      </div>

      <div class="field mb-3">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, class: "form-control border border-primary" %>
      </div>

      <div class="actions d-grid">
        <%= f.submit "Save Settings", class: "btn btn-primary" %>
      </div>
    <% end %>
  
    <h3 class="text-center mt-5 mb-3 text-primary">Cancel my account</h3>
    <div class="d-flex justify-content-center gap-1">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary" %>
      <%= link_to "Back", :back, class: "btn btn-primary" %>
    </div>

  </div>
</div>

