<div class="card mb-3" id="<%= dom_id event %>">
  <div class="card-body">
    <div class="row align-items-center">
    <%= link_to event.title.titleize, event_url(event), class: 'h5 card-title col-auto me-auto', style: "text-decoration: none" %>
      <small class="col-auto card-subtitle text-muted"><%= time_to_event(event.start_date, event.end_date) %></small>
    </div>
    
    <hr class="my-1">
    
    <div class="row justify-content-between">
      <div class="col">
        <p class="mt-2 card-text">
          <i class="bi bi-person-circle me-1"></i>
          <span class='fw-bold'>Host: </span><%= link_to event.host.username, user_path(event.host), style: "text-decoration: none" %>
        </p>
        <p class="mt-2 card-text">
          <i class="bi bi-geo-alt me-1"></i>
          <span class='fw-bold'>Location: </span><%= event.location %>
        </p>
        <p class="mt-2 card-text">
          <i class="bi bi-calendar-heart me-1"></i>
          <span class='fw-bold'>Start Time: </span>
          <%= formatted_date(event.start_date, event.start_time) %>
        </p>
        <p class="mt-2 card-text">
          <i class="bi bi-calendar-x"></i>
          <span class='fw-bold'>End Time: </span>
          <%= formatted_date(event.end_date, event.end_time) %>
        </p>
      </div>

      <div class="col-5 d-flex justify-content-end align-items-end gap-2">
        <% if params[:controller] == 'invitations' %>
          <%= render 'invitations/invitation_btns', invite: invite %>
        <% end %>
      </div>
    </div>
  </div>
</div>
