<% if events.empty? %>
  <div class="col m-1">
    <div class="list-group">
      <div class="list-group-item">
        <p class="mb-2"><%= current_user.username.titleize %> has not made any events!</p>
      </div>
    </div>
  </div>
<% end %>

<% events.each do |event| %>
  <div class="col m-1">
    <div class="list-group">
      <%= link_to event_url(event), class: "list-group-item list-group-item-action" do %>
        <div class="d-flex w-100 justify-content-between">
          <p class="h5 mb-2 fw-bold"><%= event.title %></p>
          <small><%= event.time_to_event %></small>
        </div>
        <p class="mb-1">Location: <%= event.location %></p>
        <p class="mb-1"><small>Start Time: <%= event.formatted_date(event.start_date, event.start_time) %></small></p>
        <p class="mb-1"><small>End Time: <%= event.formatted_date(event.end_date, event.end_time) %></small></p>
        <p class="mb-1"><small>Host: <%= event.host.username.titleize %></small></p>
        <small>Description: <%= event.description.truncate_words(10) %></small>
      <% end %>
    </div>
  </div>
<% end %>