<%= form_with model: event do |f| %>
  <% if event.errors.any? %>
    <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
    <% event.errors.each do |error| %>
    <ul>
      <li><%= error.full_message %></li>
    </ul>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :title, "Event Name" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 10, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_field :start_time, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_field :end_date, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.time_field :end_time, class: 'form-control' %>
  </div>

  <div class="field form-check">
    <%= f.label :private, 'Private Event' %>
    <%= f.check_box :private, class:"form-check-input" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>