<h1>New Event</h1>

<%= form_with model: @event do |f| %>
  <% if @event.errors.any? %>
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
    <% @event.errors.each do |error| %>
    <ul>
      <li><%= error.full_message %></li>
    </ul>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :name, "Event Name" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div class="actions">
    <%= f.submit "Create Event" %>
  </div>
<% end %>