<h5>Event: <%= @event.title %></h3>

<div class="container border bg-light p-3">
  <div class="row mb-3">
    <%= form_with url: event_invitations_search_path, method: :get, data: { controller: 'search-form', turbo_frame: 'users', turbo_action: 'advance' } do |f| %>
      <%= f.label :query, 'Invite User', class: 'd-block col mb-2 h5' %>
      <div class="col gap-2 d-flex align-items-center">
        <%= f.text_field :query, placeholder: 'Search ...', class: 'form-control border border-primary', data: { action: 'input->search-form#search' } %>
        <%= f.submit 'Search', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <%= render 'search_user', users: @users %>
</div>